<section  id="enlace4" class="text-center">
    <h1>Resumen</h1>
    <table>
        <tr>
            <th>Película</th>
            <th>Género</th>
            <th>Duración</th>
            <th>Director</th>
        </tr>
        <tr *ngFor = "let unaPelicula of peliculas">
            <td>{{unaPelicula["pelicula"]}}</td>
            <td>{{unaPelicula["genero"]}}</td>
            <td>{{unaPelicula["duracion"]}}</td>
            <td>{{unaPelicula["director"]}}</td>
        </tr>
    </table>
      
</section>

<section  id="enlace1" class="text-center">
    <h1>Avatar 2</h1>
    <img src="/assets/img/avatar2.jpg">
    <p>Más de una década después de los acontecimientos de 'Avatar', los Na'vi Jake Sully, Neytiri y sus hijos viven en paz en los bosques de Pandora hasta que regresan los hombres del cielo. Entonces comienzan los problemas que persiguen sin descanso a la familia Sully, que decide hacer un gran sacrificio para mantener a su pueblo a salvo y seguir ellos con vida.</p>
</section>

<section  id="enlace2" class="text-center">
    <h1>Creed 3</h1>
    <img src="/assets/img/creed2.webp">
    <p>Después de dominar el mundo del boxeo, Adonis Creed ha progresado tanto en su carrera como en su vida familiar. Cuando Damian (Jonathan Majors), un amigo de la infancia y antiguo prodigio del boxeo, reaparece después de cumplir una larga condena en prisión, Adonis Creed quiere demostrar que merece una oportunidad en el ring. El enfrentamiento entre estos antiguos amigos es algo más que una simple pelea. Para ajustar cuentas, Adonis debe arriesgar su futuro para enfrentarse a Damian, un boxeador que no tiene nada que perder.</p>
</section>
<section  id="enlace3" class="text-center">
    <h1>Llaman a la puerta</h1>
    <img src="/assets/img/llaman_a_lqa_puerta.webp">
    <p>Durante unas vacaciones en una cabaña alejada de todo, una chica y sus padres se convierten en rehenes de cuatro desconocidos armados que obligan a la familia a tomar una decisión imposible para evitar el apocalipsis. Con acceso limitado al mundo exterior, la familia deberá decidir qué creer antes de que todo esté perdido.</p>
</section>
<section  id="enlace4" class="text-center">
    <h1>La niña de la comunión</h1>
    <img src="/assets/img/va-nina-de-la-comunion.webp">
    <p>Finales de los 80, en un pueblo no determinado. Sara (Carla Campra) acaba de llegar al pueblo y no encuentra su lugar en ese espacio cerrado. Su mejor amiga es Rebe (Aina Quiñones), mucho más extrovertida. Una noche van a una discoteca, toman drogas y durante el trayecto a casa encontrarán una muñeca vestida de comunión. A partir de ese momento, comenzará la pesadilla.</p>
</section>